<div>
	<table class='table table-responsive table-hover'>
		<thead>
			<tr>
				<th ng-repeat='field in fields'>{{field}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='equipment in equipments' ng-click='gotoSingle(equipment)'>
				<td ng-repeat='field in fields'>
					<div ng-show='field==="equipmentType"'>{{equipment[field]['description']}}</div>
					<div ng-show='field==="manufacturer"'>{{equipment[field]['name']}}</div>
					<div ng-hide='(field==="equipmentType" || field==="manufacturer")'>{{equipment[field]}}</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div id='message'>
		<p>{{message}}</p>
	</div>
	
	<div class="pagination-section" ng-show="showPagination()">
    	<pagination total-items="totalItems" items-per-page="itemsPerPage" max-size="7" rotate="false" ng-model="currentPage" ng-change="loadPage()" boundary-links="true"></pagination>
  </div>
</div>
